<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>

  <body>
    <p style="text-align: center"><strong>ДОГОВОР № 7</strong></p>
    <p style="text-align: center">
      <strong>на абонентское обслуживание</strong>
    </p>
    <div
      class="wrapper"
      style="
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      "
    >
      <div class="town">г. Каменск-Шахтинский</div>
      <div class="date">«13» мая 2019 г.</div>
    </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Общество с ограниченной ответственностью Центр информационной правовой
      поддержки налогоплательщика &laquo;Партнер&raquo;, далее именуемый
      <strong><em>&laquo;Уполномоченный представитель&raquo;,</em></strong> в
      лице директора Падалка Натальи Юрьевны<strong><em>,</em></strong>
      действующей на основании Устава, с одной стороны и {{org}}, в лице директора {{name}}, далее именуемое &laquo;<strong
        ><em>Доверитель&raquo;</em></strong
      >, действующий на основании Устава, с другой стороны заключили настоящий
      Договор о нижеследующем:
    </p>
    <p>
      <strong>Термины и определения, применяемые в настоящем Договоре</strong>
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Система
      &ndash; защищенная телекоммуникационная система &laquo;СБиС++ Электронная
      отчетность 2.2&raquo; представления налоговых деклараций и бухгалтерской
      отчетности в электронном виде по телекоммуникационным каналам связи.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Уполномоченный представитель &ndash; организация, уполномоченная
      налогоплательщиком &ndash; Доверителем представлять свои интересы
      последнего в отношениях с налоговым органом при передаче налоговых
      деклараций и бухгалтерской отчетности по телекоммуникационным каналам
      связи от налогоплательщика &ndash; Доверителя.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Налоговый орган &ndash; налоговый орган по месту учета налогоплательщика
      &ndash; Доверителя.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Доверитель &ndash; юридическое лицо, заключившее с Налоговым
      представителем договор поручения на представление своих интересов в
      отношениях с налоговым органом при осуществлении передачи налоговых
      деклараций и бухгалтерской отчетности по телекоммуникационным каналам
      связи.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Оператор - юридическое лицо, оказывающие Уполномоченному представителю
      услуги специализированного оператора по обмену электронными документами с
      налоговыми органами в системе представления налоговых деклараций и
      бухгалтерской отчетности по телекоммуникационным каналам связи с
      использованием средств криптографической защиты информации.
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ЭЦП - электронная цифровая подпись, является реквизитом электронного
      документа, предназначенным для защиты данного электронного документа от
      подделки и используемая в рамках системы представления налоговых
      деклараций и бухгалтерской отчетности в электронном виде по
      телекоммуникационным канал связи.
    </p>
    <p><strong>&nbsp;</strong></p>
    <ol>
      <li><strong> ПРЕДМЕТ ДОГОВОРА</strong></li>
    </ol>
    <p>
      1.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Доверитель, руководствуясь статьей 29
      Налогового кодекса РФ, уполномочивает Уполномоченного представителя
      представлять свои интересы в отношениях с налоговым органом при передаче
      налоговых деклараций и бухгалтерской отчетности Доверителя посредством
      Системы, в том числе:
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -представлять налоговые декларации и бухгалтерскую отчетность Доверителя в
      налоговый орган посредством Системы с использованием технических средств и
      криптозащиты Уполномоченного представителя;
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -преобразовывать, при необходимости, налоговые декларации и бухгалтерскую
      отчетность Доверителя, переданные Уполномоченному представителю на
      бумажных носителях, в утвержденные форматы электронного вида;
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -подписывать налоговые декларации и бухгалтерскую отчетность Доверителя,
      представляемые в налоговый орган посредством Системы, ЭЦП Уполномоченного
      представителя;
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -получать от налогового органа посредством Системы документы (квитанцию о
      приеме налоговой декларации/бухгалтерской отчетности, протокол входного
      контроля налоговой декларации/бухгалтерской отчетности), подписанные ЭЦП
      налогового органа;
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -получать от оператора посредством Системы подтверждения оператора,
      подписанные ЭЦП оператора;
    </p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      -осуществлять иные действия, связанные с выполнением настоящего поручения,
      а Уполномоченный представитель обязуется выполнять настоящее поручение
      разумно и добросовестно.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p>
      1.2. Стороны подтверждают, что настоящий договор предусматривает все
      необходимые и достаточные полномочия Уполномоченного представителя при
      представлении интересов Доверителя в отношениях с налоговым органом при
      передаче налоговых деклараций и бухгалтерской отчетности Доверителя
      посредством Системы и не требует выдачи доверенности от Доверителя.
    </p>
    <p>
      1.3. Уполномоченный представитель вправе оказывать Доверителю в рамках
      настоящего Договора дополнительные услуги, перечень которых определяется в
      приложении к настоящему Договору, являющихся его неотъемлемой частью.
    </p>
    <p><strong>&nbsp;</strong></p>
    <ol start="2">
      <li><strong> ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong></li>
    </ol>
    <p>
      2.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Обязанности Уполномоченного
      представителя:
    </p>
    <p>
      2.1.1. Предоставлять Доверителю услуги в соответствии с перечнем и
      условиями,
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      определенными настоящим Договором, а именно:
    </p>
    <ul>
      <li>ведение кадрового делопроизводства: приказы, трудовые контракты,</li>
      <li>составление ведомостей по заработной плате,</li>
      <li>расчет налогов и страховых взносов по заработной плате,</li>
      <li>
        заполнение налоговых деклараций в ФНС и отчетности в ПФР, ФСС, органы
        статистики, а также своевременное предоставление по телекоммуникационным
        каналам связи,
      </li>
      <li>
        составление первичных бухгалтерских документов (счетов-фактур, товарных
        накладных, товарно-транспортных накладных, договоров).
      </li>
    </ul>
    <p>
      2.1.2.&nbsp;&nbsp; При представлении налоговых деклараций и бухгалтерской
      отчетности по телекоммуникационным каналам связи строго соблюдать правила
      использования средств электронной цифровой подписи.
    </p>
    <p>
      2.1.3. Обеспечивать своевременность представления налоговых деклараций и
      бухгалтерской отчетности Доверителя в налоговый орган.
    </p>
    <p>
      2.1.4. Информировать Доверителя о размере налогов, сборов и иных
      обязательный платежах в бюджет и внебюджетные фонды, о сроке их уплаты, а
      также о расчетных счетах, на которые будет производиться Доверителем такая
      уплата. Информация предоставляется в письменном виде, не позднее чем за 5
      рабочих дней до предельного срока уплаты соответствующего платежа в
      соответствии с действующим Законодательством.
    </p>
    <p>
      2.1.5. Принимать участие в плановых, внеплановых проверках, проводимых у
      Доверителя контролирующими органами без дополнительной оплаты.
    </p>
    <p>
      2.1.6. Самостоятельно обеспечивать установку, настройку и работоспособное
      состояние программного обеспечения своего рабочего места.
    </p>
    <p>
      2.1.7. В случае несвоевременного представления налоговых деклараций и
      других отчетов, содержащих ошибки по вине Уполномоченного представителя,
      возмещать Доверителю сумму понесенных им убытков.
    </p>
    <p>
      2.1.8. В течении 10 рабочих дней после расторжения (прекращения) договора,
      возвратить Доверителю всю первичную и другую документацию, находящуюся на
      хранении у Уполномоченного представителя.
    </p>
    <p>&nbsp;</p>
    <p>2.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Обязанности Доверителя:</p>
    <p>
      2.2.1.&nbsp;&nbsp; Оплачивать услуги Уполномоченного представителя в
      соответствии с размерами и условиями оплаты, определенными настоящим
      Договором.
    </p>
    <p>
      2.2.2. Не позднее 3 рабочих дней до окончания календарного месяца,
      предоставлять Уполномоченному представителю соответствующие документы на
      бумажных носителях, заверенные своей подписью и при наличии, печатью, для
      их обработки, составления налоговой отчетности, с последующим
      представлением отчетности в налоговый орган с использование Системы.
    </p>
    <p>
      2.2.3.&nbsp;&nbsp; Сохранять документы, относящиеся к настоящему Договору,
      подготовленные Доверителем либо полученные последним от Уполномоченного
      представителя, не менее трех лет с даты их получения.
    </p>
    <p><strong>&nbsp;</strong></p>
    <ol start="3">
      <li><strong> ПОРЯДОК И СРОКИ РАСЧЕТОВ ПО ДОГОВОРУ</strong></li>
    </ol>
    <p>3.1. Обслуживание ведется с момента заключения настоящего договора.</p>
    <p>
      3.2. Стоимость абонентского обслуживания определяется Протоколом
      согласования цен (Приложение №1)
    </p>
    <p>
      3.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Расчеты с Уполномоченным представителем
      осуществляются в наличной форме путем внесения сумм в кассу предприятия
      либо путем перечисления денежных средств на расчетный счет Уполномоченного
      представителя в течении 5 (пяти) банковских дней с момента подписания
      договора, далее до 25 числа каждого текущего месяца.
    </p>
    <p>
      3.4.&nbsp; В случае задержки оплаты более чем на 7 дней Уполномоченный
      представитель имеет право приостановить исполнение своих обязательств по
      настоящему Договору вплоть до поступления суммы долга на расчетный счет
      либо в кассу предприятия Уполномоченного представителя.
    </p>
    <p>
      3.5. Уполномоченный представитель оставляет за собой право на повышение
      цены на абонентское обслуживание по настоящему договору по дополнительному
      соглашению с Доверителем.
    </p>
    <p><strong>&nbsp;</strong></p>
    <ol start="4">
      <li><strong> ОТВЕТСТВЕННОСТЬ СТОРОН</strong></li>
    </ol>
    <p>
      4.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; За нарушение условий настоящего
      Договора Стороны несут ответственность в соответствии с действующим
      законодательством.
    </p>
    <p>
      4.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Уполномоченный представитель не несет
      ответственности за содержание и достоверность информации, предоставляемой
      Доверителем.
    </p>
    <p><strong>&nbsp;</strong></p>
    <ol start="5">
      <li>
        <strong> НЕПРЕОДОЛИМАЯ СИЛА (ФОРС-МАЖОРНЫЕ ОБСТОЯТЕЛЬСТВА)</strong>
      </li>
    </ol>
    <p>
      5.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Стороны освобождаются от
      ответственности за частичное или полное неисполнение обязательств по
      настоящему Договору, если неисполнение явилось следствием природных
      явлений, действий внешних объективных факторов и прочих обстоятельств
      непреодолимой силы, за которые стороны не отвечают и предотвратить
      неблагоприятное воздействие которых они не имеют возможности.
    </p>
    <p>
      5.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Стороны несут ответственность за
      частичное или полное неисполнение обязательств по настоящему Договору при
      наличии вины только в случаях, предусмотренных законом или настоящим
      Договором.
    </p>
    <p><strong>&nbsp;</strong></p>
    <ol start="6">
      <li><strong> СРОК ДЕЙСТВИЯ ДОГОВОРА</strong></li>
    </ol>
    <p>
      6.1.&nbsp;&nbsp; &nbsp;Настоящий Договор вступает в силу с момента
      подписания и действует до&nbsp;&nbsp; 31 декабря 2019г..
    </p>
    <p>
      6.2. &nbsp;&nbsp;&nbsp;&nbsp; Если ни одна из сторон не оповестит другую
      сторону за 1 месяц до окончания договора о его прекращении, договор
      считается продленным на следующий срок на тех же условиях.
    </p>
    <ol start="7">
      <li><strong> РАЗРЕШЕНИЕ СПОРОВ</strong></li>
    </ol>
    <p>
      7.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Все споры и разногласия, которые могут
      возникнуть между сторонами, будут разрешаться путем переговоров.
    </p>
    <p>
      7.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; При не урегулировании в процессе
      переговоров спорных вопросов споры разрешаются в порядке, установленном
      действующим законодательством в
      <strong><em>Арбитражном суде.</em></strong>
    </p>
    <p><strong>&nbsp;</strong></p>
    <ol start="8">
      <li><strong> ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong></li>
    </ol>
    <p>
      8.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Во всем остальном, что не предусмотрено
      настоящим Договором, стороны руководствуются действующим законодательством
      Российской Федерации.
    </p>
    <p>
      8.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Любые изменения и дополнения к
      настоящему Договору действительны при условии, если они совершены в
      письменной форме и подписаны надлежаще уполномоченными на, то
      представителями сторон.
    </p>
    <p>
      8.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Все уведомления и сообщения должны
      направляться в письменной форме. Сообщения будут считаться исполненными
      надлежащим образом, если они посланы заказным письмом, по факсу или
      доставлены лично по юридическим (почтовым) адресам сторон с получением под
      расписку соответствующими должностными лицами. Действительны личная,
      факсовая и электронно-цифровая подписи.
    </p>
    <p>
      8.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Настоящий Договор составлен в
      <strong><em>двух экземплярах</em></strong
      >, имеющих одинаковую юридическую силу, по одному экземпляру для каждой из
      сторон.
    </p>
    <p><strong>&nbsp;</strong></p>
    <ol start="9">
      <li><strong> АДРЕСА, РЕКВИЗИТЫ И ПОДПИСИ СТОРОН</strong></li>
    </ol>
    <p><strong>Уполномоченный представитель:</strong></p>
    <p>
      <strong
        >Общество с ограниченной ответственностью Центр информационной правовой
        поддержки налогоплательщика &laquo;Партнер&raquo;</strong
      >
    </p>
    <p>
      <strong
        >347810, Россия, Ростовская обл., г.Каменск-Шахтинский, пр.К-Маркса
        22</strong
      >
    </p>
    <p>
      <strong
        >ИНН 6147027757 КПП 614701001&nbsp;&nbsp; ОГРН 1086147000356</strong
      >
    </p>
    <p>
      <strong
        >р/с 40702810852030000338 в ПАО &laquo;Сбербанк России&raquo;
        г.Ростов-на-Дону</strong
      >
    </p>
    <p><strong>БИК 046015602, к/с 30101810600000000602</strong></p>
    <p>
      <strong
        >ОКПО 83377280, ОКАТО 60419000000, ОКОГУ49013, ОКФС/ОКОПФ 16/65,</strong
      >
    </p>
    <p><strong>тел. 8(86365)7-47-06, 8-928-610-70-39</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p>
      <strong
        >Директор&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        __________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Карташев П.А.</strong
      >
    </p>
    <p>
      <strong
        >М.П.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong
      ><strong>(подпись) </strong
      ><strong
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
      >
    </p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>Доверитель:</strong></p>
    <p>
      <strong>{{org}};</strong>
    </p>
    <p><strong>ИНН {{inn}} КПП {{kpp}} ОГРН {{ogrn}}</strong></p>
    <p>
      <strong>Юридический адрес: </strong
      ><strong
        >{{ua}}</strong
      >
    </p>
    <p><strong>Контактные телефоны: {{phone}}</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p>
      <strong
        >Директор&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        __________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{name}}</strong
      >
    </p>
    <p>
      <strong
        >М.П.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong
      ><strong>(подпись) </strong
      ><strong
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
      >
    </p>
    <br /> <br /> <br /> <br />
    <p></p>
    <p>Приложение №1</p>
    <p>к Договору №7</p>
    <p>от 13 мая 2019г.</p>
    <p>&nbsp;</p>
    <p>
      от Уполномоченного представителя
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      от Доверителя
    </p>
    <p>
      ООО ЦИППН &laquo;Партнер&raquo;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>{{org}}</strong>
    </p>
    <p>
      _________________Падалка Н.Ю.&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      _________________<strong>{{name}}</strong
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p>
      М.П.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; М.П.
    </p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>Протокол согласования цены №1 от 13 мая 2019г.</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО
      ЦИППН &laquo;Партнер&raquo; - именуемое в дальнейшем Уполномоченный
      представитель, в лице директора Падалка Натальи Юрьевны, действующего на
      основании Устава и
      <strong
        >{{org}}</strong
      >, в лице директора <strong>{{name}}</strong>,
      действующий на основании Устава, в дальнейшем Доверитель, составили
      настоящий протокол о нижеследующем:
    </p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>1.Стоимость оказания услуг</strong></p>
    <p>1.1. Стоимость оказанных услуг по Договору составляет:</p>
    <p>
      17 000-00 (Семнадцать тысяч рублей 00 копеек) в месяц, НДС не
      предусмотрен.
    </p>
    <p>&nbsp;</p>
    <p>
      1.2. Данный протокол составлен в 2-х экземплярах по одному для каждой
      стороны.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </body>
</html>
